SUPABASE_URL=https://nqvmupmzxgytvkewklpo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xdm11cG16eGd5dHZrZXdrbHBvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzgxMTI2OSwiZXhwIjoyMTAzMzg3MjY5fQ.WsZkmuw3AjEhsVjW-v-6NdbcKzTBxF9PA8lKnzkYGFc
