# Supabase Credentials (Required)
SUPABASE_URL=https://nqvmupmzxgytvkewklpo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# Google Drive API Auto-Sync (Optional)
# Enter your Google Service Account credentials and Root Folder ID below to save uploads directly to your Google Drive
GOOGLE_CLIENT_EMAIL=your-service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----"
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id_here
